* {
    margin: 0;
    padding: 0;
} /* Con esto limpio todos los estilos*/

/*
COLORES: Puedo poner los colores como variables y usarlos directamente poniendo el nombre (Ver JavaS o CSS)
*/

body {
    background-color: antiquewhite;  /* Pongo un color sutil para tener en todo el documento*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/* Pongo una fuente generica para todo el documento */
}


header, nav, main, footer {
    padding: 25px;
} /* Con esto todos los contenedores tienen la misma tabulacion. Despues lo puedo ir ajustando */

header, footer, main {
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    min-height: 5vh;
    color: #ffffff;
  }

header img {
    height: 70px;
}

nav {
    display: flex;
    background-color: #242627;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2
}

ul {
    display: flex;
    list-style-type: none; /* Con esto me borra los puntitos de la lista*/
}

a {
    text-decoration: none; /* Para que no se subrayen los links*/
}

.button { /* Voy a usar un solo tipo de boton, lo aplico poniendo class en el HTML*/
    background-color:#835aa5;
    color: #f3f7f6;
    padding: 10px; /* Para darle margen*/
    
    margin-right: 10px; /* Para que tenga el efecto de separacion entre sí */
    border-radius: 5px; /* Redondeo los bordes*/
    transition: 0.3s all; /* el efecto de transicion */
}

.button:hover { /* El hover es para cuando le pongo el mouse encima */
    background-color: #ffad01;
    color: #360856; 
    border-radius: 5px;
}

#login {
    background-color: #ffad01;
    color: #360856;
    border-radius: 5px;
}

#login:hover {
    background-color: #835aa5;
    color: #f3f7f6;
}



main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: #835aa5;
  }

main h2 {
    background-color: #360856;
    color: #f3f7f6;
}

#mycarrousel {
    min-height: 50vh; /* tamaño minimo del 50% de la pagina */
    z-index: 1
}

main #Productos {
    background-color: #030005;
    
}

main #Productos .contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main #Productos .contenido article {
    padding: 10px;
    justify-content: space-between;
    color:#a296ac;
    background-color: #171D1C;
    padding: 15px;
    font-size: 1em;

    display: flex;
    flex-direction: column; /* para que sus elementos se pongan en columna */
}

main #Productos .contenido article img {
    width: 100%;
    height: 100px;
}

main #Productos .contenido article h4 {
    font-size: 2em;
    padding: 15px 0;
}


#Sucursales {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color:#360856;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
    color: #ffad01;
}

article img {
    border-radius: 999px;
    max-width: 90%;
}
article p {
    text-align: center;
}

#Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    justify-content: space-between ;
    align-items: center;

    color: #a296ac;
    background-color: #171D1C;
}

footer .redes {
    font-size: 1.5em;
}

footer .redes i {
    color:#a296ac;
    transition: 0.2s all;
}

footer .redes i:hover {
    color: #ffad01;
}


@media only screen and (max-width: 480px){
    header, main, footer {
        padding:10px;
    }

    body {
        font-size: 10px;
    }

    section {
        width: 90%;
    }
}

@media only screen and (min-width: 480px){
    header, main, footer {
        padding:15px;
    }

    body {
        font-size: 16px;
    }

    section {
        width: 90%;
    }
    
    .contenido article{
        width: 60%;
    
    }
}

@media only screen and (min-width: 768px){
    header, main, footer {
        padding:20px;
    }

    body {
        font-size: 20px;
    }

    section {
        width: 90%;
    }
}



