
#titulo {
    background-color: rgba(255, 255, 255, 0);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


#somos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    border: 5px solid #ffad01;
}

p {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    text-align: center;
    color: #171D1C;             
    font-size: 18px;           
    margin-top: 20px;         
    padding: 20px;           

}
  
